@font-face {
    font-family: "Oswald";
    src: local("fonts/Oswald/Oswald-VariableFont_wght.ttf");
}


header {
    text-align: center;
}

/* body {
    margin-left: 20%;
    margin-right: 20%;
} */

body {
    font-family: 'Arvo';
}

main {
    margin-left: 20%;
    margin-right: 20%;

}

#nav {
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

#nav li {
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;

}

pre {
    background-color: #f5f2f0;
}

a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

#nav a:hover {
    border-bottom: 2px solid black;
}







table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
}

tbody tr {
    border-bottom: 1px solid rgb(182, 182, 182);
}

td, th {
    text-align: left;
    padding: 0.5rem;
}

#api {
    margin-bottom: 60px;
}



section {
    margin-bottom: 80px;
    /* border-bottom: 1px solid rgb(182, 182, 182); */
}




